.ad{
    position:absolute;
    left: 20px;
    top: 0px;
    z-index: -1;
    height: 150px;
    width: 100;
    margin: 10px;


    
     
}
h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    top: 25%;
    margin: 50px;
    

 

 }  
.af{
    position:absolute;
    /* margin: 50px 150px; */
    height: 50px;
    width: 50px;
    z-index: -1;
    top: 480px;
    
    /* left: 100px; */
}
h2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 60px;
    

}
.ag{
    position:absolute;
    height: 50px;
    width: 50px;
    z-index: -1;
    margin: 00px 1000px;
    top: 10px;
    
}
h3{
    color: black;
    font-family: 'Courier New', Courier, monospace;

    position: absolute;
    top: 10%;
    left: 80%;
    
}
.ah{
    position:absolute;
    height: 100px;
    width: 100px;
    z-index: -1;
    left: 80%;
    top: 70%;
}
h4{
    color: black;
    font-family: 'Courier New', Courier, monospace;

    position: absolute;
    top: 80%;
    left: 89%;
}

    
